In [1]:
import pandas as pd

# Load the dataset
boston_data = pd.read_csv('Boston.csv')

# Grab names of attributes for the questions
print("Names of the attributes:", boston_data.columns.tolist())

# Perform correlation analysis
correlation_matrix = boston_data.corr()

# Find highly correlated features
highly_correlated = []
for i in range(len (correlation_matrix.columns)):
    for j in range(i + 1, len(correlation_matrix.columns)):
        if abs(correlation_matrix.iloc[i, j]) >= 0.8:
            highly_correlated.append((correlation_matrix.columns[i], correlation_matrix.columns[j], correlation_matrix.iloc[i, j]))

# print the highly correlated features
print("Highly correlated features (when absolute correlation coefficient >= 0.8):")

for features in highly_correlated:

    print(features)

Names of the attributes: ['Unnamed: 0', 'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'Price']
Highly correlated features (when absolute correlation coefficient >= 0.8):
('RAD', 'TAX', 0.9102281885331865)

In [2]:
import pandas as pd

# Load the datasets
order_items_path = 'olist_order_items_dataset.csv'
products_path = 'olist_products_dataset.csv'
translations_path = 'product_category_name_translation.csv'

# Read the CSV files
order_items = pd.read_csv(order_items_path)
products = pd.read_csv(products_path)
translations = pd.read_csv(translations_path)

# Display a few rows of each dataset to check they loaded
order_items.head(), products.head(), translations.head()

(                           order_id  order_item_id  \
 0  b8bfa12431142333a0c84802f9529d87              1
 1  b8bfa12431142333a0c84802f9529d87              2
 2  b8bfa12431142333a0c84802f9529d87              3
 3  00010242fe8c5a6d1ba2dd792cb16214              1
 4  00018f77f2f0320c557190d7a144bdd3              1

                          product_id  price
 0  765a8070ece0f1383d0f5faf913dfb9b   81.0
 1  a41e356c76fab66334f36de622ecbd3a   99.3
 2  765a8070ece0f1383d0f5faf913dfb9b   81.0
 3  4244733e06e7ecb4970a6e2683c13e61   58.9
 4  e5f2d52b802189ee658865ca93d83a8f  239.9  ,
                          product_id  product_category_name  product_weight_g  \
 0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria             225.0
 1  3aa071139cb16b67ca9e5dea641aaa2f                  artes            1000.0
 2  96bd76ec8810374ed1b65e291975717f          esporte_lazer             154.0
 3  cef67bcfe19066a932b7673e239eb23d                  bebes             371.0
 4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas             625.0

    product_length_cm  product_height_cm  product_width_cm
 0               16.0               10.0              14.0
 1               30.0               18.0              20.0
 2               18.0                9.0              15.0
 3               26.0                4.0              26.0
 4               20.0               17.0              13.0  ,
     product_category_name product_category_name_english
 0            beleza_saude                 health_beauty
 1  informatica_acessorios         computers_accessories
 2              automotivo                          auto
 3         cama_mesa_banho                bed_bath_table
 4        moveis_decoracao               furniture_decor)

In [3]:
#Merging the Products Dataset with Translations to get English names
products_merged = pd.merge(products, translations, on='product_category_name', how='left')

# show first few rows to make sure it worked
products_merged.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,225.0,16.0,10.0,14.0,perfume
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,625.0,20.0,17.0,13.0,housewares

In [4]:
# merge datasets to simplify to just order id's items and english names 
order_items_full = pd.merge(order_items, products_merged[['product_id', 'product_category_name_english']], on='product_id', how='left')

# Remove rows with NaN values in 'product_category_name_english'
order_items_full.dropna(subset=['product_category_name_english'], inplace=True)

order_items_full = order_items_full.drop(columns=['price'])

# Display the first few rows to check the merge
order_items_full.head()

,order_id,order_item_id,product_id,product_category_name_english
0,b8bfa12431142333a0c84802f9529d87,1,765a8070ece0f1383d0f5faf913dfb9b,sports_leisure
2,b8bfa12431142333a0c84802f9529d87,3,765a8070ece0f1383d0f5faf913dfb9b,sports_leisure
3,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,cool_stuff
4,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,pet_shop
5,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,furniture_decor

In [5]:
# Grouping by 'order_id' and aggregating 'product_category_name_english' into a list
grouped_orders = order_items_full.groupby('order_id')['product_category_name_english'].agg(list).reset_index()

grouped_orders.head()

                           order_id product_category_name_english
0  00010242fe8c5a6d1ba2dd792cb16214                  [cool_stuff]
1  00018f77f2f0320c557190d7a144bdd3                    [pet_shop]
2  000229ec398224ef6ca0657da4fc703e             [furniture_decor]
3  00024acbcdf0a6daa1e931b038114c75                     [perfume]
4  00042b26cf59d7ce69dfabb4e55b4fd9                [garden_tools]

In [6]:
#checking it did group multiple items
multiple_items_orders = grouped_orders[grouped_orders['product_category_name_english'].apply(len) > 1]

multiple_items_orders.head()

,order_id,product_category_name_english
13,0008288aa423d2a3f00fcb17cd7d8719,"[garden_tools, garden_tools]"
31,00143d0f86d6fbd9f9b38ab440ac16f5,"[sports_leisure, sports_leisure, sports_leisure]"
39,001ab0a7578dd66cd4b0a71f5b6e1e41,"[electronics, electronics, electronics]"
43,001d8f0e34a38c37f7dba2a37d4eba8b,"[health_beauty, health_beauty]"
69,002c9def9c9b951b1bec6d50753c9891,"[housewares, housewares]"

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Convert lists into one-hot encoded format
te = TransactionEncoder()
te_ary = te.fit_transform(grouped_orders['product_category_name_english'])
df = pd.DataFrame(te_ary, columns=te.columns_)

# Applying Apriori to find frequent itemsets with a minimum support
frequent_itemsets = apriori(df, min_support=0.00001, use_colnames=True)  

# Generating association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.02)  

# Sort rules by lift
#rules = rules.sort_values(['confidence', 'lift'], ascending=[False, False])

rules = rules.sort_values(['lift'], ascending=[False])

# Display the filtered rules
rules[['antecedents', 'consequents', 'antecedent support', 'consequent support', 'support', 'confidence', 'lift']].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
40,"(perfume, bed_bath_table)",(market_place),0.000010,0.002879,0.00001,1.000000,347.342857
42,"(telephony, cool_stuff)",(cine_photo),0.000062,0.000668,0.00001,0.166667,249.374359
24,"(auto, fashion_bags_accessories)",(musical_instruments),0.000010,0.006457,0.00001,1.000000,154.866242
31,"(garden_tools, bed_bath_table)",(construction_tools_lights),0.000041,0.002509,0.00001,0.250000,99.647541
14,(fashion_sport),(fashion_female_clothing),0.000278,0.000401,0.00001,0.037037,92.360874

In [11]:

# Applying Apriori to find frequent itemsets with a minimum support
frequent_itemsets = apriori(df, min_support=0.000001, use_colnames=True)  

# Generating association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.25)  

# Sort rules by lift
#rules = rules.sort_values(['confidence', 'lift'], ascending=[False, False])

rules = rules.sort_values(['lift'], ascending=[False])

# Display the filtered rules
rules[['antecedents', 'consequents', 'antecedent support', 'consequent support', 'support', 'confidence', 'lift']].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
12,"(perfume, bed_bath_table)",(market_place),0.000010,0.002879,0.00001,1.00,347.342857
4,"(auto, fashion_bags_accessories)",(musical_instruments),0.000010,0.006457,0.00001,1.00,154.866242
6,"(garden_tools, bed_bath_table)",(construction_tools_lights),0.000041,0.002509,0.00001,0.25,99.647541
3,"(auto, musical_instruments)",(fashion_bags_accessories),0.000010,0.019166,0.00001,1.00,52.175966
8,"(bed_bath_table, construction_tools_lights)",(garden_tools),0.000010,0.036173,0.00001,1.00,27.645253

In [12]:

# Applying Apriori to find frequent itemsets with a minimum support
frequent_itemsets = apriori(df, min_support=0.00001, use_colnames=True)  

# Generating association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)  

# Sort rules by lift
#rules = rules.sort_values(['confidence', 'lift'], ascending=[False, False])

rules = rules.sort_values(['lift'], ascending=[False])

# Display the filtered rules
rules[['antecedents', 'consequents', 'antecedent support', 'consequent support', 'support', 'confidence', 'lift']].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
8,"(perfume, bed_bath_table)",(market_place),0.00001,0.002879,0.00001,1.0,347.342857
2,"(auto, fashion_bags_accessories)",(musical_instruments),0.00001,0.006457,0.00001,1.0,154.866242
1,"(auto, musical_instruments)",(fashion_bags_accessories),0.00001,0.019166,0.00001,1.0,52.175966
5,"(bed_bath_table, construction_tools_lights)",(garden_tools),0.00001,0.036173,0.00001,1.0,27.645253
9,"(telephony, cine_photo)",(cool_stuff),0.00001,0.037345,0.00001,1.0,26.777533